.body {
    display: flex;
}

.leftside {
    display: flex;
}

.bgimage {
    background-image: url(bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width:35%;
    position: fixed;
    float: left;
    height: 100%;
}

.credit {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rightside {
    display: flex;
}

.headertext {
    display: flex;
}