
.body {
    display: flex;
    font-family: 'Quicksand', serif;
}


input:focus {
    box-shadow: 3px 2px 7px grey;
}

.bglogo {
    padding: 10px;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    align-items: center;
}

.bglogo > span {
    font-size: 8rem;
    letter-spacing: -7px;
}

img {
    max-width: 20%;

}

.bgimage {
    background-image: url(pic.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 750px;
}

.formdetails {
    background-color: white;
    padding: 30px;
    height: 250px;
    box-shadow: 0px 7px 3px -2px rgb(221, 220, 220);
    
}

.formdetails h2 {
    margin-top: -10px;
    margin-left: 15px;
}

.creation {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

a[href=""] {
    color:green;
    text-decoration: none;
}

a[href*="splash"] {
    color: white;
}

.credit {
    text-align: center;
    color: white;
    margin-top: 440px;
}


.rightside {
    background-color: rgb(243, 242, 241);
}


.button {
    background-color:#596D48;
    color:white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(153, 148, 148);
    border-style: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.headertext {
    padding: 30px;
    font-family: 'Oswald', serif;
    font-size: 25px;
    text-align: left;
    margin-right: 150px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.creation > p {
    font-size: 15px;
}

input {
    box-sizing: border-box;
    width: 250px;
}


input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid red;
  }

input:valid {
    box-sizing: border-box;
}

.error {
    color: red;
}